{% extends "customer_base.html" %}

{% block main_block %}
<div class="my-12 w-screen max-w-7xl mx-auto px-4 sm:px-6 h-screen">
    {% for item in data %}
    <div class="relative block overflow-hidden rounded-lg border border-gray-100 p-4 sm:p-6 lg:p-8 mb-6">
        <span class="absolute inset-x-0 bottom-0 h-2 bg-gradient-to-r from-green-300 via-blue-500 to-purple-600"></span>

        <div class="sm:flex sm:justify-between sm:gap-4">
            <div>
                <h3 class="text-lg font-bold text-gray-900 sm:text-xl">
                    Request to {{ item.service_provider.username }}
                </h3>
                <p class="mt-1 text-xs font-medium text-gray-600">{{ item.created_date|date:"M d, Y h:i A" }}</p>

                <!-- Display rating stars or the "Rate the request" link based on whether a rating exists -->
                {% if item.rating %}
                <p class="mt-2">
                    
                    <span class="ml-2">{{ item.rating.display_stars }}</span>
                </p>
                {% else %}
                <p class="mt-2">
                    <a href="{% url 'create-rating' item.id %}" class="text-yellow-600 hover:text-yellow-700">Rate the request</a>
                </p>
                {% endif %}
            </div>
        </div>

         <!-- Service Type Listing (by Vehicle Type) -->
<div class="mt-4">
    <h4 class="text-sm font-bold text-gray-700">Vehicle Types and Services:</h4>
    <div class="mt-2">
        {% if item.service_types.exists %}
        {% for service in item.service_types.all %}
        <div class="mt-2">
            <strong>{{ service.vehicle_type|capfirst }}</strong>
            <ul class="list-disc pl-4">
                <li>{{ service.name }}</li>
            </ul>
        </div>
        {% endfor %}
        {% else %}
        <p class="text-gray-500">No services available.</p>
        {% endif %}
    </div>
</div>

<strong>Vehicle Model:</strong> {{ item.vehicle_name }}<br>


       
<div class="flex flex-col">
    <dl>
        <dt class="text-sm font-medium text-gray-600">Delivered At</dt>
        <dd class="text-xs text-gray-500">{{ item.updated_date|date:"M d, Y h:i A" }}</dd>
    </dl>
    {% if item.payment %}
    <dl class="mt-2">
        <dt class="text-sm font-medium text-gray-600">Payment Method</dt>
        <dd class="text-xs text-gray-500">
            
                {{ item.payment.payment_method|capfirst }}
            
           
        </dd>
    </dl>
    <dl class="mt-2">
        <dt class="text-sm font-medium text-gray-600">Payment Amount</dt>
        <dd class="text-xs text-gray-500">
            
                {{ item.payment.amount }}
            
           
        </dd>
    </dl>
    {% endif %}
</div>
        

    </div>
    {% empty %}
    <p class="text-center text-gray-500">No breakdown requests available.</p>
    {% endfor %}
</div>
{% endblock %}
