{% extends "customer_base.html" %}
{% block main_block %}
{% load static %}

<!-- Check if a profile exists -->
<div class="mt-16 mx-auto max-w-sm">
  {% if data %}
  <div
    class="relative block overflow-hidden rounded-lg shadow-xl border border-white bg-black text-gray-100"
  >
    <!-- Vehicle Cover Photo -->
    <div class="rounded-t-lg h-48 overflow-hidden">
      <img
        class="object-cover object-center w-full h-full"
        src="https://wallpapercave.com/wp/WR4WVIP.jpg"
        alt="Vehicle Cover"
      />
    </div>

    <!-- User Details -->
    <div class="p-6">
      <h3 class="text-lg font-bold text-center text-white sm:text-xl">
        {{ data.user.username }}
      </h3>

      <div class="mt-4">
        <p class="text-sm text-gray-300">
          <strong>Phone Number:</strong> {{ data.user.phone_number }}
        </p>
        <p class="mt-2 text-sm text-gray-300">
          <strong>E-Mail:</strong> {{ data.user.email }}
        </p>
        <p class="mt-2 text-sm text-gray-300">
          <strong>Address:</strong> {{ data.address }}
        </p>
      </div>

      <!-- Centered Profile Button with URL -->
      <div class="form-buttons mt-6 flex justify-center">
          <div class="relative inline-flex group">
              <div
                  class="absolute transition-all duration-1000 opacity-70 -inset-px bg-gradient-to-r from-[#44BCFF] via-[#FF44EC] to-[#FF675E] rounded-xl blur-lg group-hover:opacity-100 group-hover:-inset-1 group-hover:duration-200">
              </div>
              <a href="{% url 'customer-edit' %}" title="Update Profile"
                 class="relative inline-flex items-center justify-center px-8 py-2 text-lg font-bold text-white transition-all duration-200 bg-black font-pj rounded-xl focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-black">
                  Update Profile
              </a>
          </div>
      </div>
    </div>
  </div>
  {% else %}
  <p class="text-center text-gray-600">
    No profile available for the logged-in user.
  </p>
  {% endif %}
</div>

{% endblock %}
